*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "Pilcrow Soft", sans-serif;
}

.color{
	color:#00B1BD;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

.secondcolor{
	color:#444;
	fill:#444;
}

.secondcolor:hover{
	color:#fff;
	fill:#fff;
}

/* CONTAINER
=================================== */

#master-container{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns: (1fr)[12];
	    grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 50px;
}

body{
	background-color:#444;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

/* MAIN
=================================== */

#main{
	-ms-grid-row: 5;
	-ms-grid-row-span: 7;
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;
	grid-area: 5/3/12/5;
}

#icone{
	width:75%;
	fill:#00B1BD;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

h1:nth-child(1){
	font-size:2.8em;
	color:#fff;
}

#main h1:nth-child(2){
	font-size:3.5em;
}

#main li{
	list-style: none;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#main a {
	text-decoration: none;
}

/* LINKS
=================================== */

.icon{
	width:40%;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.iconcolor{
	fill:#00B1BD;
}

.iconcolor:hover{
	fill:#fff;
}

.links{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
	width: 80%;
}

.links li{
	width:30%;
}

/* MENU
=================================== */
.menu{
	margin: 25px 0;
}

.menu li{
	font-size:1.2em;
	color:#fff;
	font-weight:500;
	padding: 10px 0;
	cursor:pointer; 
}

.firsthover:hover{
	color:#00B1BD;
}

.hovering{
	color:#fff;
}

.hovering:hover{
	color:#444;
}


/* INFO
=================================== */

.info{
	-ms-grid-column: 6;
	-ms-grid-column-span: 3;
	grid-column: 6/9;
	-ms-grid-row: 8;
	-ms-grid-row-span: 2;
	grid-row: 8 / 10;
}

.info a{
	text-decoration: none;
}

.info article {
	border-left: 2px solid #00b1bd;
	padding-left: 25px;
}

h2{
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight:600;
	margin-bottom: 15px;
}

h2 a{
	-webkit-box-shadow: inset 0px -7px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0px -7px rgba(0, 0, 0, 0.1);
}

h2 a:hover{
	-webkit-box-shadow: inset 0px -4px rgba(0, 0, 0, 0.3);
	        box-shadow: inset 0px -4px rgba(0, 0, 0, 0.3);
}

h4{
	font-weight: 600;
	font-size: 1.2em;
	color:#fff;
}

p{
	color:#fff;
	font-weight: 400;
	line-height: 1.6em;
	padding-bottom: 25px;
	text-transform: uppercase;
}

.projetos{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.projetos img{
	width: 100%;
	display:none;
}

.img1{
	-ms-grid-row: 8;
	-ms-grid-row-span: 2;
	-ms-grid-column: 10;
	-ms-grid-column-span: 3;
	grid-area: 8/10/10/13;
}

.img2{
	-ms-grid-row: 10;
	-ms-grid-row-span: 2;
	-ms-grid-column: 10;
	-ms-grid-column-span: 3;
	grid-area: 10/10/12/13;
}

.img3{
	-ms-grid-row: 12;
	-ms-grid-row-span: 4;
	-ms-grid-column: 10;
	-ms-grid-column-span: 3;
	grid-area: 12/10/16/13;
}


/* RESPONSIVIDADE
=================================== */

@media only screen and (max-width: 768px) {
	/*CELULARES*/
	h2{
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 500px) {
	/*CELULARES*/

	#main {
		-ms-grid-row: 3;
		-ms-grid-row-span: 7;
		-ms-grid-column: 4;
		-ms-grid-column-span: 6;
		grid-area: 3 / 4 / 10 / 10;
	}

	.info{
		-ms-grid-column: 4;
		-ms-grid-column-span: 7;
		grid-column: 4 / 11;
		-ms-grid-row: 10;
		-ms-grid-row-span: 5;
		grid-row: 10 / 15;
	}

	.info article {
		border-left: none;
		padding-left: 0;
	}

	h2{
		font-size: 1.5em;
	}

	.img1{
		-ms-grid-row: 10;
		-ms-grid-row-span: 2;
		-ms-grid-column: 10;
		-ms-grid-column-span: 3;
		grid-area: 10/10/12/13;
	}

	.img2{
		-ms-grid-row: 11;
		-ms-grid-row-span: 3;
		-ms-grid-column: 10;
		-ms-grid-column-span: 3;
		grid-area: 11/10/14/13;
	}

	.img3{
		-ms-grid-row: 16;
		-ms-grid-row-span: 3;
		-ms-grid-column: 4;
		-ms-grid-column-span: 10;
		grid-area: 16/4/19/14;
	}

}