:root{
	--principal: #F0D653;
	--cinza: #E8E9EA;
	--cinza-texto: #616161;
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
}

/* ------------------------- */
/* 
	GRID 
*/

body {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-auto-rows: 1fr;
	align-items: center;
}

article, 
header, 
footer {
	grid-column: 3 / span 9;
}


header {
	grid-row: 1 / span 6;
}

.educacao {
	grid-row:7 / span 11;
}

.projetos {
	grid-row: 18 / span 14;
}

.projetos-design {
	grid-row: 29 / span 18;
}


footer {
	grid-row: 43 / span 3;
}

/* ------------------------------------*/

.fundo{
	width: 100%;
	height: 100%;
	z-index: -1;
}

.amarelo{
	grid-column: 1 / span 12;
	grid-row: 18 / span 5;
	background-color: var(--principal);
}

.cinza{
	background-color: var(--cinza);
}

/* ---------------------------- */
/*
	HEADER
*/

/* fundo cinza*/
.head{
	grid-column: 1 / span 12;
	grid-row: 1 / span 5;
}

.shape-separator {
	background-image: url("imagens/separador.png");
	height: 100%;
	grid-column: 1 / span 12;
	grid-row: 5 / span 4;
	z-index: -1;
}



.proj{
	grid-column: 1 / span 12;
	grid-row: 31 / span 5;
}
/* -------------------------    */

.logo {
	width: 15%;
	left: -29px;
	position: relative;
}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	padding: 0px 15px;
}


.icon{
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	height: 30px;
 	width: 30px;
}

.icon:hover{
	fill:var(--principal);
}

a {
	text-decoration: none;
	color: #000;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

a:hover {
	color: var(--principal);
}

.dif:hover {
	color: #fff;
}

/* -------------------- */
/*
	CONTAINER FLEX PARA ALINHAR NA HORIZONTAL
*/
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/* HEADER */
.heading{
	margin-bottom: 10%;
}

.educacao section{
	margin-bottom: 5%;
}

.colunas {
	justify-content: flex-start;
	align-items: flex-start;
}

.colunas div:first-child{
	margin-right: 150px;
}

.colunas ul{
	margin-right: 100px;
}

.colunas li {
	list-style: none;
}


.projetos section, .projetos-design section {
    /*padding: 35px 0px;*/
    height: 450px;
}

.projetos p{
	width: 50%;
}

.projetos-design p {
	width: 60%;
}

/* ------------------------------ */
/*
	TEXTO - FONTE
*/
p, .colunas li {
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

.italico{
	font-size: 1.7rem;
	font-style: italic;
	margin: 50px 0px;
}

i{
	font-size: 1.7rem;
}

h2{
	margin: 25px 0px 45px 0px;
	font-size: 2.4em;
	font-weight: 500;
}

h4{
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 15px;
}


h3{
	font-weight: normal;
}

.texto-secundario {
	color: var(--cinza-texto);
}

.detalhe1 svg{
    fill: var(--principal);
    width: 10%;
    position: absolute;
    left: 142px;
    z-index: -1;
}

.detalhe svg{
    fill: var(--principal);
    width: 5%;
    position: absolute;
    left: 145px;
    height: 50px;
}

.diferente svg{
    fill: var(--cinza);
}