@font-face {
  font-family: wayfarers;
  src: url(../fonts/wayfarers-toy-box.ttf);
}

@font-face {
  font-family: dos;
  src: url(../fonts/Web437_IBM_DOS_ISO8.woff);
}

@font-face {
  font-family: dos_cga;
  src: url(../fonts/WebPlus_IBM_CGA.woff);
}

@font-face {
  font-family: PixelifySans;
  src: url(../fonts/PixelifySans-VariableFont_wght.ttf);
}

main {

  background-image: url("../images/patterns/blackgranite.gif");
  background-size: 70px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  /* align-content: center; */
  justify-content: center;
  align-items: stretch;
  font-family: PixelifySans, sans-serif;
  font-variation-settings: "wght" 115;
  padding: 10px;
  --radius: 20px;
}

h1 {
  /* font-family: dos_cga, sans-serif; */
  font-family: wayfarers, sans-serif;
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5 {
  font-variation-settings: "wght" 800;
  color: var(--color-red);
}

.container {
  z-index: 1;
  background-color: white;
  grid-column: 1 / -1;
  grid-row: 1 / 12;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.267) 3px -2px 4px 8px;
  display: flex;
  flex-direction: column;
}

main nav {
  z-index: 2;
  grid-column: 10;
  grid-row: 1;
  position: relative;

  ul {
    top: 10px;
    left: 20px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  a {
    color: var(--color-red-3);
    text-decoration: none;
    display: block;
    padding: 8px 10px;
  }

  li {
    letter-spacing: .05rem;
    font-size: .8rem;
    width: 150px;
    list-style: none;
    background-color: var(--color-dull-orange);
    box-shadow: rgba(0, 0, 0, 0.267) -5px 5px 3px -1px;
    --rotate: 2deg;
    --translate: 10px;
    transition: transform 350ms ease-in-out, filter 450ms ease-out;

    &:hover {
      filter: brightness(1.1)
    }

    &:nth-child(odd):hover {
      transform: translateX(calc(var(--translate) * 1.8)) rotate(calc(var(--rotate) * -1)) scale(1.05);

    }

    &:nth-child(even) {
      transform: translateX(var(--translate)) rotate(var(--rotate));
    }

    &:nth-child(even):hover {
      transform: translateX(calc(var(--translate) * -1)) rotate(calc(var(--rotate) * -2)) scale(1.05);
    }
  }
}

.photo_gallery {
  position: relative;
  grid-column: 2 / 12;
  grid-row: 11;
  user-select: none;

  .content {
    background-image: linear-gradient(0deg,
        hsl(0deg 0% 42%) 0%,
        hsl(344deg 0% 47%) 8%,
        hsl(344deg 0% 53%) 19%,
        hsl(344deg 0% 59%) 32%,
        hsl(344deg 0% 66%) 48%,
        hsl(344deg 0% 72%) 67%,
        hsl(344deg 0% 78%) 100%);
    position: absolute;
    min-height: 140px;
    padding: 20px 10px 50px 10px;
    border-radius: var(--radius);
    left: 0px;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    flex-direction: row;
    transform: rotate(-17deg);
    transition: transform 550ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.267) -5px 5px 3px -1px;
  }

  button {
    background: none;
    border: none;
  }

  button img {
    border: 3px solid white;
    object-fit: cover;
    width: 90px;
    height: 90px;
  }

  :popover-open {
    border: none;
    box-shadow:
      0 2px 2px 2px rgb(0, 0, 0, 0.5), 0 0 32px 10px rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 4vmin 4vmin 5vmin 4vmin;
  }

  .popovers figure:popover-open {
    display: block;
    background: white;
  }

  .popovers figure:popover-open figcaption {
    font-size: 1.2rem;
    padding-top: 2vmin;
  }

  .popovers figure:popover-open img {
    width: 50vmin;
    height: 50vmin;
    object-fit: cover;
    border: 4px rgb(0, 0, 0, 0.55) inset;
  }

  button {
    cursor: pointer;

  }

  h3 {
    color: var(--color-orange);
  }

  --open-scale: 1.1;

  &.open {
    z-index: 3;

    div {
      transform: rotate(-8deg) scale(var(--open-scale));
    }

  }

  --rotate-hover: -12deg;

  &:not(.open) .img_btn {
    pointer-events: none;
  }

  &:not(.open):hover {
    div {
      transform: rotate(var(--rotate-hover));
    }

  }
}

.postit {
  position: relative;
  grid-column: 2;
  --rotate: 10deg;
  --rotatehover: 8deg;

  button {
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(var(--rotate));
    transition: transform 550ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.267) -5px 5px 3px -1px;
  }

  button.open {
    z-index: 1;
    transform: rotate(-8deg) scale(1.5);
  }

  button:not(.open):hover {
    transform: rotate(var(--rotatehover));
  }
}

#postit1 {
  grid-row: 11;
  grid-column: 6;

  --rotate: -10deg;
  --rotatehover: -22deg;

  button {
    background: yellow;
    left: 30px;
  }

}

#postit2 {
  grid-row: 11;
  grid-column: 5;
  --rotate: 10deg;
  --rotatehover: 16deg;

  button {
    left: 0px;
    color: var(--color-pink);
    background: var(--color-blue-2);
  }

}

@media (min-width: 790px) and (max-width: 1000px) {
  .container {
    /* background-color: red; */
    grid-column: 3 / 11;
    grid-row: 2 / 12;
  }

  main nav {
    grid-column: 10;
    grid-row: 3;

    ul {
      top: 0px;
      left: 20px;
    }
  }

  .photo_gallery {
    grid-column: 11;
    grid-row: 5;
    --rotate-hover: 10deg;
    --open-scale: 1.5;

    .content {
      gap: 20px;
      width: 120px;
      flex-direction: column;
      align-items: center;
      transform: rotate(12deg);
      left: -90px;
    }
  }

  #postit1,
  #postit2 {
    grid-column: 2;
  }

  #postit1 {
    grid-row: 4;
  }

  #postit2 {
    grid-row: 9;
  }
}

@media (min-width: 1100px) {
  .container {
    /* background-color: blue; */
    grid-column: 4 / 10;
    grid-row: 2 / 12;
  }

  main nav {
    grid-column: 9;
    grid-row: 3;

    ul {
      top: 0px;
      left: 80px;
    }
  }

  .photo_gallery {
    grid-column: 10;
    grid-row: 4;
    --rotate-hover: 10deg;
    --open-scale: 1.5;

    .content {
      gap: 20px;
      width: 120px;
      left: -90px;
      flex-direction: column;
      align-items: center;
      transform: rotate(12deg);
    }
  }

  #postit1,
  #postit2 {
    grid-column: 3;
  }

  #postit1 {
    grid-row: 4;
  }

  #postit2 {
    grid-row: 9;
  }
}



.container header {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-image: url("../images/aetherius_2.jpg");
  background-position: center;
  background-size: cover;
  height: 237px;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  color: white;
  position: relative;
}

#about {
  box-shadow: inset black 0px 0px 40px -2px;
  background-color: #252525;
  padding: 20px 50px;
  columns: 3;
  column-gap: 40px;
  color: var(--color-pink);
  font-size: .9rem;
}

.container .blog {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;

  .posts {
    padding: 30px;

    #categoria {
      color: var(--color-pink-2);
      margin-bottom: 23px;
      font-variation-settings: "wght" 100;


      &:has(.show) {
        display: block;
      }

      &:not(.show) {
        display: none;
      }
    }

    #voltar {
      margin-bottom: 23px;

      h3 {
        color: var(--color-wine);

        &:hover {
          color: var(--color-wine-3);
        }
      }

      &:has(.show) {
        display: block;
      }

      &:not(.show) {
        display: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
      text-align: left;
      cursor: pointer;
      padding: 0;
    }

    h2:hover {
      color: var(--color-pink-3);
    }
  }

  /*  open > - */
  article .description {
    display: none;
  }

  &:has(.open) article:not(.open) {
    display: none;
  }

  article.open .description {
    display: block;
  }

  /* open <- */

  article {
    position: relative;

    h3 {
      color: var(--color-grey-500);
      margin: 15px 0px;
      --rotate: 1.5deg;
    }

    a {
      color: var(--color-orange-3);
      text-decoration-thickness: 2px;

      &:hover {
        color: var(--color-dull-orange-3)
      }
    }

    p {
      margin: 15px 0px;
      color: var(--color-wine-3)
    }

    .action_btn {
      display: flex;
      flex-direction: column;
      gap: 15px;

      position: absolute;
      top: 150px;
      left: -150px;
      z-index: 4;

      a {
        display: block;
        background-color: var(--color-pink);
        text-decoration: none;
        color: var(--color-wine-2);
        letter-spacing: .05rem;
        font-size: .95rem;
        padding: 8px 10px;
        width: 150px;
        box-shadow: rgba(0, 0, 0, 0.4) -5px 8px 3px -1px;

        &:hover {
          filter: brightness(1.1);
          transform: translateX(-10px) rotate(-2deg) scale(1.06);
        }
      }
    }
  }

  article::before {
    content: attr(data-timestamp);
    display: block;
    font-size: .8rem;
    opacity: .7;

  }

  article:not(:last-of-type):not(.open)::after {
    content: '';
    display: block;
    border: 1px dashed var(--color-wine-3);
    opacity: .4;
    height: 2px;
    margin: 40px auto;
  }

  aside {
    flex: 1 0 200px;
    background: linear-gradient(180deg, #6d5a67, #7b6674, #897181, #977d8f, #a6899d, #b596aa, #c4a2b9, #d3afc7);
    color: var(--color-pink);
    /* height: 100%; */

    div {
      margin: 15px;
    }

    h3 {
      padding: 5px;
      padding-left: 15px;
      color: var(--color-pink);
      background-image: linear-gradient(180deg,
          hsl(319deg 22% 25%) 15%,
          hsl(307deg 19% 25%) 55%,
          hsl(290deg 17% 26%) 69%,
          hsl(274deg 17% 28%) 78%,
          hsl(259deg 17% 29%) 85%);

    }

    ul {
      margin: 0px;
      padding: 0px;
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    li {
      list-style: none;

      i {
        font-family: wayfarers, sans-serif;
        font-size: .6rem;
      }
    }
  }
}

.container footer {
  background: linear-gradient(180deg, #aeaeae, #b8b8b8, #c3c3c3, #cecece, #d8d8d8, #e3e3e3, #eeeeee, #f9f9f9);
  box-shadow:
    inset white 0px 0px 10px -2px,
    inset rgba(0, 0, 0, 0.56) 0px 0px 3px 1px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}