main {
  font-family: "Fraunces", serif;
}

.emoji {
  opacity: .5;
}

footer .rights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

}

article {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


h1,
footer-all-rights-reserved,
section {
  width: clamp(300px, 70%, 1000px);
}

h1 {
  color: var(--color-blue-2);
  font-size: 2rem;
  font-weight: 900;
}

.about {
  background-color: var(--color-orange);

  h3 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .2rem;
    color: var(--color-blue-2);
    margin-bottom: 15px;
    font-weight: bold;
  }

  p,
  blockquote {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-red)
  }

  cite {
    font-size: .9em;
    font-weight: 800;
    color: var(--color-pink-2)
  }

  section {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--color-red);
  }
}

h2 {
  color: var(--color-pink);
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.work,
.projects {
  color: var(--color-pink);
}

.work {
  background-color: var(--color-blue-2);

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-bottom: 50px;
  }

  .company {
    font-weight: bold;
  }

  .role {
    opacity: .8;
    font-weight: lighter;
  }



}

.projects {
  background-color: var(--color-blue-3);
}

.project-list {
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  /* max-width: 450px; */
  border: 1px solid var(--color-pink);
  border-radius: 4px;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }

  p {
    font-weight: 400;
    margin: 1rem 0rem;
  }

  .project-summary {
    font-size: 1.2rem;
    font-style: italic;
  }

  ul li {
    margin-bottom: .5rem;
    font-size: .9rem;
  }

  .action-btn-row {
    display: flex;
    gap: 32px;
    margin: 20px 0px;

  }

  .action-btn-row a {
    display: block;
    text-decoration: none;
    --btn-color: var(--color-pink);
    background-color: transparent;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    transition: all 450ms ease-out;

    &:hover {
      --btn-color: var(--color-pink-2);
    }
  }
}

@media (min-width: 1100px) {
  .work li:after {
    content: "";
    display: block;
    background-color: var(--color-pink);
    opacity: .5;
    position: absolute;
    width: 35%;
    height: 1px;
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 860px) {
  .project-list {
    flex-direction: row;
  }

  h1 {
    font-size: 2.6rem;
  }

  .about {

    p,
    blockquote {
      font-size: 1.7rem;
    }
  }


  .work {
    li {
      flex-direction: row;
      gap: 25px;
    }



    .years {
      margin-left: auto;
    }
  }

  .project {
    width: calc(50% - var(--gap) / 2);
  }
}