:root {
  user-select: none;
  --bg: var(--color-orange);
  --stroke: var(--color-red-3);
  --box-stroke: var(--color-red-3);
  --accent: var(--color-dull-orange-2);
  --svg-bg: var(--bg);
  font-family: "Fraunces", serif;
}

footer-all-rights-reserved footer .rights {
  color: var(--stroke);
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}

main {
  background-color: var(--bg);
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  padding: 30px;
  gap: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

.about h1 {
  font-size: 1rem;
  margin-bottom: .2rem;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

p {
  font-weight: 600;
  font-size: 0.9rem;
}


.box {
  display: block;
  overflow: hidden;
  --rect-width: 100%;
  width: var(--rect-width);
  height: 150px;
  border: 0.13rem solid;
  border-color: var(--box-stroke);
  position: relative;
  color: var(--stroke);
  padding: 15px;
  text-align: center;
  align-content: center;
}

@media (min-width: 1050px) {
  .box {
    display: grid;
  }

  .box:not(.about) h1 {
    display: none;
  }

  .box:hover h1 {
    display: block;
  }

  h1 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  p {
    font-weight: 600;
    font-size: 0.8rem;
  }
}

.box.one {
  --accent: var(--color-teal-2);

  &:hover {
    --stroke: var(--accent);
  }

  svg {
    position: absolute;

    path {
      fill: var(--stroke) !important;
    }
  }
}

.box.one svg {
  bottom: 0px;
  left: -30%;
  width: 80%;
}

.box:not(.about) {
  --svg-bg: var(--bg);
  background-color: var(--bg);

  &:hover {
    --svg-bg: var(--accent);
    --box-stroke: var(--accent);
  }

  svg {
    position: absolute;
  }
}

.box:not(.six) {
  svg {
    path {
      stroke: var(--stroke);
      fill: var(--svg-bg);
    }
  }
}

.box.two {
  --accent: var(--color-teal-3);

  svg {
    top: -20px;
    right: -50px;
    height: 60%;
  }
}

.box.three {
  --accent: var(--color-dull-orange-2);

}

.box.three svg {
  bottom: -30px;
  left: -80px;
  width: 50%;
}

.box.four {
  --accent: var(--color-red);
}

.box.four svg {
  right: -23%;
  width: 80%;
}

.box.five {
  --accent: var(--color-pink-2);
}

.box.five svg {
  left: -30px;
  top: -55px;
}

.box.seven {
  --accent: var(--color-orange-3);
}

.box.seven svg {
  left: -40px;
  top: 10px;
}

.box.eight {
  --accent: var(--color-dull-orange-3);

  svg {
    top: 70px;
    height: 90%;
  }
}

.about {
  --accent: var(--color-orange-3);
  background-color: var(--stroke);
  text-align: center;
  color: var(--bg);
  padding: 0px 30px;
  padding-top: 35px;

  svg {
    position: absolute;
  }

  &:hover {
    --svg-bg: var(--accent);
    background-color: var(--svg-bg);
    color: var(--stroke);
  }
}


.about #monitor {
  top: -55px;
  left: 5px;
  height: 65%;
}

.about #mouse {
  top: 5px;
  right: -10px;
}

.about #keyboard {
  top: 80px;
  right: 20px;
  height: 90%;
}

.box.six {
  --svg-bg: var(--bg);
  --accent: var(--color-orange-3);

  &:hover {
    --svg-bg: var(--accent);
  }
}

.box.six svg {
  bottom: 0px;
  left: 40%;
  height: 80%;
}

@media (min-width: 1050px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 80px);
    align-content: center;
    gap: 10px;
    padding: 0px;
  }

  .box {
    overflow: initial;
  }

  .box.one {
    height: 100%;
    --rect-width: 60%;
    justify-self: center;
    align-self: center;

    grid-column: 2;
    grid-row: 2 / 5;
  }

  .box.one svg {
    bottom: 20px;
    left: -20px;
    width: 80%;
  }

  .box.two {
    height: 65%;
    --rect-width: 55%;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    grid-column: 2;
    grid-row: 5 / 9;
  }

  .box.three {
    height: 65%;
    --rect-width: 90%;
    justify-self: center;
    align-self: center;

    grid-column: 3;
    grid-row: 2 / 4;
  }

  .box.three svg {
    bottom: -30px;
    left: -30px;
    width: 50%;
  }

  .box.four {
    height: 70%;
    --rect-width: 70%;
    justify-self: center;
    align-self: start;
    align-content: start;

    grid-column: 4;
    grid-row: 2 / 4;

    h1 {
      font-size: 1.7rem;
    }
  }

  .box.four svg {
    left: 10px;
    top: 10px;
    width: 80%;
  }

  .box.five {
    height: 80%;
    --rect-width: 60%;
    justify-self: start;
    align-content: end;
    text-align: left;
    grid-column: 5;
    grid-row: 2 / 4;
    align-self: end;
  }

  .box.five svg {
    left: 40px;
    top: -80px;
  }

  .box.six {
    height: 75%;
    --rect-width: 60%;
    justify-self: center;
    align-self: center;
    align-content: start;
    grid-column: 5;
    grid-row: 4 / 8;
  }

  .box.six svg {
    bottom: -60px;
    right: -60px;
    height: 80%;
  }

  .box.seven {
    height: 70%;
    --rect-width: 90%;
    justify-self: center;
    align-self: center;

    grid-column: 4;
    grid-row: 7 / 9;
  }

  .box.seven svg {
    right: -50px;
    top: 40px;
  }

  .box.eight {
    height: 75%;
    --rect-width: 60%;
    justify-self: center;
    align-self: center;

    grid-column: 3;
    grid-row: 7 / 9;
  }

  .about {
    height: 65%;
    --rect-width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 3 / 5;
    grid-row: 4 / 7;
    align-content: start;
  }

  .about #monitor {
    top: -70px;
    right: -5px;
    height: 65%;
  }

  .about #mouse {
    top: 50px;
    right: -30px;
  }

  .about #keyboard {
    top: 110px;
    right: 20px;
    height: 90%;
  }

  footer-all-rights-reserved {
    color: var(--stroke);
    grid-column: 2 / -2;
    grid-row: 9 / -1;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-blue-2);
    --stroke: var(--color-pink);
    --box-stroke: var(--color-pink);
    --accent: var(--color-dull-orange-2);
    --svg-bg: var(--bg);
  }

  .about {
    --accent: var(--color-red);
  }

  .box.six {
    --accent: var(--color-red-2);
  }
}