@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@view-transition {
  navigation: auto;
}

:root {
  --box-shadow-focus: 0px 0px 3px 1px var(--color-primary-lighten3);
  --text-color-alpha-8: hsla(0deg 0% 40% / 0.8);
  --text-color-alpha-9: hsla(0deg 0% 80.78% / 0.8);
  --text-color: hsl(0deg 0% 80.78%);

  --grey: -10deg;
  --color-grey-100: hsl(var(--grey) 20% 95%);
  --color-grey-300: hsl(var(--grey) 10% 75%);
  --color-grey-500: hsl(var(--grey) 5% 50%);
  --color-grey-700: hsl(var(--grey) 10% 30%);
  --color-grey-900: hsl(var(--grey) 15% 15%);
  --border-color: var(--color-grey-700);

  --primary: 291 85%;
  --color-primary: hsl(var(--primary) 38%);
  --color-primary-light: hsl(var(--primary) 70%);
  --color-primary-dark: hsl(var(--primary) 30%);
  --color-primary-alpha-300: hsl(var(--primary) 50% / 0.1);
  --color-primary-alpha-500: hsl(var(--primary) 50% / 0.5);
  --color-primary-alpha-700: hsl(var(--primary) 50% / 0.7);
  --timetravel-height: 35px;
  --timetravel-color: black;

  --dark-blue: 222 23%;
  --color-blue: hsl(var(--dark-blue) 31%);
  --color-blue-300: hsl(var(--dark-blue) 11%);
  --color-blue-500: hsl(var(--dark-blue) 71%);

  --blue: 171 15%;
  --color-blue: hsl(var(--blue) 81%);
  --color-blue-300: hsl(var(--blue) 31%);
  --color-blue-500: hsl(var(--blue) 23%);

  --dark-red: 319 22%;
  --color-red: hsl(var(--dark-red) 25%);
  --color-red-300: hsl(var(--dark-red) 11%);
  --color-red-500: hsl(var(--dark-red) 41%);

  --red: hsl(7 66 58%);

  --dark-orange: hsl(24 69 61%);

  --orange: hsl(28 94 72%);

  --dark-pink: hsl(9 46 83%);

  --pink: hsl(28 81 91%);

}

body {
  font-weight: normal;
  display: grid;
  grid-template-rows: var(--timetravel-height) 1fr;
  align-items: stretch;
}

body>nav {
  height: var(--timetravel-height);
  background: var(--timetravel-color);
}

time-travel:not(:defined) {
  opacity: 0;
}

time-travel {
  transition: all ease-in 250ms;
  opacity: 1;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}