@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@view-transition {
  navigation: auto;
}

:root {
  --box-shadow-focus: 0px 0px 3px 1px var(--color-primary-lighten3);
  --text-color-alpha-8: hsla(0deg 0% 40% / 0.8);
  --text-color-alpha-9: hsla(0deg 0% 80.78% / 0.8);
  --text-color: hsl(0deg 0% 80.78%);

  --grey: -10deg;
  --color-grey-100: hsl(var(--grey) 20% 95%);
  --color-grey-300: hsl(var(--grey) 10% 75%);
  --color-grey-500: hsl(var(--grey) 5% 50%);
  --color-grey-700: hsl(var(--grey) 10% 30%);
  --color-grey-900: hsl(var(--grey) 15% 15%);
  --border-color: var(--color-grey-700);

  --primary: 291 85%;
  --color-primary: hsl(var(--primary) 38%);
  --color-primary-light: hsl(var(--primary) 70%);
  --color-primary-dark: hsl(var(--primary) 30%);
  --color-primary-alpha-300: hsl(var(--primary) 50% / 0.1);
  --color-primary-alpha-500: hsl(var(--primary) 50% / 0.5);
  --color-primary-alpha-700: hsl(var(--primary) 50% / 0.7);

  --blue: 222 23%;
  --color-blue: hsl(var(--blue) 71%);
  --color-blue-2: hsl(var(--blue) 31%);
  --color-blue-3: hsl(var(--blue) 11%);

  --teal: 171 15%;
  --color-teal: hsl(var(--teal) 81%);
  --color-teal-2: hsl(var(--teal) 61%);
  --color-teal-3: hsl(var(--teal) 33%);

  --wine: 319 22%;
  --color-wine: hsl(var(--wine) 41%);
  --color-wine-2: hsl(var(--wine) 25%);
  --color-wine-3: hsl(var(--wine) 11%);

  --red: 7 66%;
  --color-red: hsl(var(--red) 58%);
  --color-red-2: hsl(var(--red) 41%);
  --color-red-3: hsl(var(--red) 11%);

  --pink: 9 46%;
  --color-pink: hsl(var(--pink) 83%);
  --color-pink-2: hsl(var(--pink) 61%);
  --color-pink-3: hsl(var(--pink) 31%);

  --dull-orange: 24 69%;
  --color-dull-orange: hsl(var(--dull-orange) 71%);
  --color-dull-orange-2: hsl(var(--dull-orange) 51%);
  --color-dull-orange-3: hsl(var(--dull-orange) 31%);

  --orange: 28 94%;
  --color-orange: hsl(var(--orange) 91%);
  --color-orange-2: hsl(var(--orange) 72%);
  --color-orange-3: hsl(var(--orange) 61%);
  --color-orange-4: hsl(var(--orange) 31%);

  --timetravel-height: 55px;
  --timetravel-color: black;
}

@media (min-width: 650px) {
  :root {
    --timetravel-height: 35px;
  }
}

body {
  font-family: "Fraunces", serif;
  font-weight: normal;
  display: grid;
  grid-template-rows: var(--timetravel-height) 1fr;
  align-items: stretch;
}

body>nav {
  height: var(--timetravel-height);
  background: var(--timetravel-color);
}

time-travel:not(:defined) {
  opacity: 0;
}

time-travel {
  transition: all ease-in 250ms;
  opacity: 1;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}