.navigation {
  display: flex;
  align-items: center;
}

.emoticon {
  padding-left: .3em;
  color: var(--nav-accent-color)
}

.navigation button {
  font-style: normal;
  /* font-variation-settings: "wght" 600, "soft" 100, "opsz" 30; */
  font-weight: 200;
  font-size: 1.25em;
  letter-spacing: .029em;
  font-style: normal;
  text-align: left;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--nav-text-color);
  transition:
    filter 750ms ease;
}

.navigation button:hover span:nth-child(1), 
.navigation button:focus span:nth-child(1){
  filter: brightness(1.16);
  background-size: 0% .09em;
}

.navigation button span:nth-child(1) {
  background: linear-gradient(0deg, var(--nav-text-color), var(--nav-text-color)) no-repeat right bottom / 100% .09em;
  transition:
    filter 750ms ease,
    background-size 750ms ease;
}

.navigation button:active {
  transform: scale(1.1);
}